[Desktop Entry]
Type=Application
Terminal=false
Name=Lucine
Exec=python3 /home/username/../Lucine/lucine.py
Icon=/home/username/../lucine.png
StartupWMClass=tk

